@media only screen and (max-width: 399px){

    html body{
        padding:0;
        margin:0;
        height:100%;
        background-color: cornsilk;
    }
    #btnContainer{
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height:100;
        background-color: skyblue;
        border-right:2px solid steelblue;
        box-shadow: 0px 1px 5px 2px #222;
        clear: both;
    }

    .btnMenu{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 5px;
        margin: 5px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: paleturquoise;
        box-shadow: 1px 1px 3px #222;
        display: inline-block;
    }

    .btnMenu:hover{
        color: white ;
        cursor: pointer;
        background-color: turquoise;
        box-shadow: .5px .5px 2px #666;
    }

    .btnMenu:active{
        color: white ;
        cursor: pointer;
        background-color: lightseagreen;
        box-shadow: none;
    }
    #imgContainer{
        padding: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 100px;
        min-height: 100px;
        margin: auto;
    }
    
    img{
        margin: 5px;
        box-shadow: 1px 1px 3px #222;
    }

}

@media only screen and (min-width: 400px){

    html body{
        padding:0;
        margin:0;
        height:100%;
        background-color: cornsilk;
    }
    #btnContainer{
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height:100%;
        background-color: skyblue;
        border-right:2px solid steelblue;
        box-shadow: 1px 0px 3px #222;
    }

    #btnWrap{
        padding:5px;
    }

    .btnMenu{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 5px;
        margin: 5px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: paleturquoise;
        box-shadow: 1px 1px 3px #222;
        display: inline-block;
        overflow-y: auto;
    }

    .btnMenu:hover{
        color: white ;
        cursor: pointer;
        background-color: turquoise;
        box-shadow: .5px .5px 2px #666;
    }

    .btnMenu:active{
        color: white ;
        cursor: pointer;
        background-color: lightseagreen;
        box-shadow: none;
    }
    #imgContainer{
        position: fixed;
        top:0;
        left:20%;
        padding: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 80%;
        height: 100%;
        margin: auto;
        overflow-y: auto;
    }

    .gifWrap {
        padding:5px;
        margin: 5px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    img{
        box-shadow: 1px 1px 3px #222;
    }

    #addBtn{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: steelblue;
        padding:5px;
        box-shadow: 0px 1px 3px #222;
        margin-bottom: 5px;
    }

    input{
        background-color: white;
    }

}